<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		
		<!--<add name="Conex"
			 connectionString="Data Source=192.168.0.163\jonathan;
         Initial Catalog= TallerMecanico_05; UID =TallerMecanico; PWD =@T4ll3rM3c4n1c0" />-->
		<add name="Conex"
			 connectionString="Data Source=DESKTOP-G0NFLCV\TALLERMECANICO05;
         Initial Catalog= TallerMecanico_05; UID =TallerMecanico; PWD =@T4ll3rM3c4n1c0" />
	</connectionStrings>
</configuration>